/* General Reset and Typography */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: linear-gradient(45deg,#7e328f,#4aac08);;
}

ul {
    list-style-type: none;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
    color: #87aed6;
}

/* Header and Navigation */

header {
    background-color: #f8f9fa;
    padding: 1rem;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Main Content */

main {
    padding: 2rem;
}

form {
    margin-top: 1rem;
}

label,
input,
select,
button {
    display: block;
    margin-bottom: 0.5rem;
}